:root{
  --header: #2a4365;
  --highlight: #2a4365;
  --main: #2a4365;
  --text: #a7b7d9;
  --section: #e5e5e5;
  --text-complement: #D9C9A7;
}

body{
  background-color: rgb(218, 233, 251);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

button{
  border-radius: 15px;
}

.container{
  color: var(--text);
}

.profile-pic img {
  border-radius: 50%;
  margin: 20px;
  margin-left: 150px;
  margin-top: 40px;
  }

.profile-info{
  padding: 30px;
  }

.profile-info h1 {
  margin-top: 0;
  }
  
.profile-info h2 {
  font-weight: normal;
  margin-top: 10px;
  }
  
.profile-info p {
  margin-bottom: 0;
  }
  
.profile-info ul li {
  margin-bottom: 5px;
  }
  
.profile-info ul li strong {
  margin-right: 5px;
  }
  
.lblProfile{
  font-weight: bolder;
  }

#btnEdit,#btnFollow{
  border-radius: 15px;
  }

.header{
  margin-top: 7px;
  height: 33.33%;
  background-color: var(--header);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  animation: slideup 1s ease-out;
  }

.post{
  padding-top: 50px;
  color: var(--text);
  width: fit-content;
  height: fit-content;
}

.counts{
  margin-top: 7px;
  background-color: var(--highlight);
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideup 1s ease-out;
  justify-content: space-evenly;
  /* ovde moze i space-around ako bude pravilo probleme sa funkcijama kasnije */
  height: 25px;
  }

.adding{
  margin-top: 7px;
  height: 33.33%;
  width: fit-content;
  background-color: var(--highlight);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  animation: slideup 1s ease-out;
  padding: 10px;
  margin-right: 10px;
  }
  
.adding textarea{
  height: 32px;
}

.btnTransparent{
  background-color: transparent;
  border: none;
  color: inherit;
}
.btnTransparent:focus{
  outline: none;
}

.works{
  margin-top: 7px;
  height: 33.33%;
  background-color: var(--main);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  animation: slideup 1s ease-out;
  }

.works button{
  margin-top: 5px; 
}

.works hr{
  background-color: white;
}
.works h1{
  color: var(--section);
  border-radius: 15px;
  background-color: #1b2c42;
  height: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 10%;
  display: none;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  }
  
.overlay.show {
  opacity: 1;
  display: inline;
  }
  
.popup{
  color: antiquewhite;
  }

/* SlideUp animacija */
  @keyframes slideup {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

/* OSTAO RESPONZIV */