:root{
   --header: #61b1de;
   --highlight: #fbfdef;
   --main: #ccbff9;
   --text: #3c404a;
}

.container{
  color: var(--text);
}

.profile-pic img {
    border-radius: 50%;
    margin: 20px;
    margin-left: 150px;
    margin-top: 40px;
  }
.profile-info{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }

.profile-info h1 {
    margin-top: 0;
  }
  
.profile-info h2 {
    font-weight: normal;
    margin-top: 10px;
  }
  
.profile-info p {
    margin-bottom: 0;
  }
  
.profile-info ul li {
    margin-bottom: 5px;
  }
  
.profile-info ul li strong {
    margin-right: 5px;
  }
  
.lblProfile{
    font-weight: bolder;
  }

#btnEdit{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-radius: 15px;
  }

.header{
    background-color: var(--header);
    border-radius: 30px;
  }

.counts{
    background-color: var(--highlight);
    display: flex;
    border-radius: 30px;
  }

.counts p{
    flex: 1;
    margin: 0 10px;
  }

.adding{
    background-color: var(--highlight);
    border-radius: 30px;
    
  }

.works{
    background-color: var(--main);
    border-radius: 30px;
    padding: 30px
  }





